@import "./constants.css";

.activity-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-right: 2rem;
  font-size: 0.9rem;
}

.activity-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-left::after {
  content: "";
  background: var(--color-border);
  width: 2px;
  margin-top: 1rem;
  flex-basis: 100%;
}

.activity-right {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.activity-time {
  margin: 0;
  background-color: var(--color-text-accent);
  width: fit-content;
  border-radius: 0.25rem;
  color: var(--color-text-button);
  padding: 8px;
}

.activity-event {
  color: var(--color-text-primary);
}

.activity-payload {
}

.activity-payload-header {
  margin: 0 0 0.5rem;
  color: var(--color-text-primary);
}

.activity-payload-commits {
  margin: 0px;
  padding: 0rem 1rem;
  border-radius: 0.25rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background-color: var(--color-button);
}

.activity-payload-commits-item {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
}

.activity-payload-commits-item-icon {
  display: inline;
  margin-right: 1rem;
}

@media screen and (min-width: 360px) {
  .activity-icon {
    margin-top: 0.5rem;
    color: var(--color-text-accent);
    font-size: 0.5rem;
  }

  .activity-time {
    margin: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 0.8rem;
  }  

  .activity-payload-commits {
    margin: 0px;
    padding: 0rem 0.8rem;
    border-radius: 0.25rem;
  }

  .activity-payload-commits-item {
    margin: 0.5rem 0;
    font-size: 0.8rem;
  }

  .activity-right {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .activity-icon {
    font-size: 1rem;
  }
}