@import "./constants.css";

.activity-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-right: 2rem;
}

.activity-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-left::after {
  content: "";
  background: var(--color-border);
  width: 2px;
  margin-top: 1rem;
  flex-basis: 100%;
}

.activity-right {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.activity-icon {
  margin-top: 0.5rem;
  color: var(--color-text-accent);
}

.activity-time {
  margin: 0;
  background-color: var(--color-text-accent);
  width: fit-content;
  border-radius: 0.25rem;
  color: var(--color-text-button);
  padding: 8px;
}

.activity-event {
  color: var(--color-text-secondary);
}

.activity-payload {
}

.activity-payload-header {
  margin: 0 0 0.5rem;
  color: var(--color-text-tertiary);
}

.activity-payload-commits {
  margin: 0px;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  background-color: var(--color-button);
}

.activity-payload-commits-item {
  display: flex;
  align-items: center;
  color: var(--color-text-tertiary);
}

.activity-payload-commits-item-icon {
  display: inline;
  margin-right: 1rem;
}
